.box {
  margin-top: 50px;
}

.cardSize {
  width: 18rem;
  height: 25rem;
  margin: 5px
}

.imgSize {
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 1fr);
}