.box {
  margin-top: 50px;
}

.cardSize {
  width: 18rem;
  height: 25rem;
  margin: 5px
}

.imgSize {
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 1fr);
}

.imageButton {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

.singleMovieContainer {
  width: 500px;
  margin: 0 auto;
}

.tableAnimation {
  opacity: 0;
}

.spinner {
  width: 150px;
  height: 150px;
  align-self: center;
}

.spinnerWrapper {
  height: 400px;
}